@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

:root {
  /* Your default theme */
  --bg: #fff;
}

[color-scheme='dark'] {
  --bg: #10172a;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.backdrop {
  backdrop-filter: blur(6px);
}

.top-n-1 {
  top: -5px;
}

header.isSticky .title {
  opacity: 0;
  transition: .5s;
}

.leftNav {
  opacity: 0;
}

.leftNav.isSticky {
  opacity: 1;
  transition: 0.5s;
}

.table-of-contents {
  position: sticky;
  display: none;
}

.leftNav.isSticky .table-of-contents {
  display: block;
}

.post-img {
  max-width: 500px;
  margin: auto;
}

::selection {
  background-color: rgba(56, 189, 248, 0.2);
}
